/* 
Possible Fonts:
    font-family: 'Audiowide', serif;
    font-family: 'Black Ops One', serif;
    font-family: 'Electrolize', sans-serif;
    font-family: 'Exo', sans-serif;
    font-family: 'Press Start 2P', serif;

*/

body{
    background-color: #ffffff;
    color: #000000;
    
}


h1{margin:0px;
    padding:0px;
    font-size: 18px;
    text-align: center;
    font-weight: normal;

}

.robotVoice{
    font-family: 'Audiowide', serif;
    font-size: 20px;
    color: #30a84e;
}


div{margin:2px;
    font-family: "Raleway", sans-serif;
    /* border: 1px solid rebeccapurple; */
    font-family: 'Exo', sans-serif;
    font-size: 18px;
    /* margin:5px;  */
}

.proPart1--display{
    display: flex;
}

.proPart2--display{
    display: none;
}

.proPart3--display{
    display: none;
}

.proPart4--display{
    display: none;
}

.proPart5--display{
    display: none;
}

.gamespace--display{
    display:none
}
.gamespace__header{
    display: flex;
    column-gap: 1em;
}

.prologue {
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin:5px 0px;
    text-align: center;
    width:100%;
    height: 100%;
    
}


.prologue__text{
    font-size: 24px;
    width:50%;
/* display: flex;
flex-direction: column;
align-items: center; */

}

.prologue__img{
    width: 400px;
    filter:invert(100);
    border-radius: 40% ;


}


 
.gamespace__mainDiv{
    padding-top: 1em;
    display:flex;
    justify-content: left;
    column-gap: 1em;
}

.leftColumn{
    display: flex;
    flex-direction: column;
    width: 30%;
    text-align: center;
}

.centerColumn{
    width: 30%;

}

.rightColumn{
    max-width: 33%;
    max-height: 33%;
}
h3{margin: 0px 0px 5px;
    font-weight: normal;


}
.compAvatar{
    width:250px;
    /* filter:invert(100) */
}


button{margin: 10px;
    background-color: #6cbbfa;
    color:black;
    /* border:0; */
    text-align: center;
    font-family: 'Exo', sans-serif;
    font-size:18px;
    border-radius:5px;
    border-color: #000000;
    text-shadow: 1px 1px 1px #9b5cc9;

}
button:hover{
    filter:brightness(120%)
}

button:active{
    filter:brightness(80%)
}
